<section class="section hero" id="hero">

  <h1 class="date">02.08.2026</h1>
  <div class="hero-badge">SAVE THE DATE</div>

    <div class="hero-layout">
        <!-- Левый игрок -->
        <div class="hero-player hero-player--left">
            <div class="name-wrapper">
                <span class="player-tag">PLAYER 1</span>
                <div class="player-avatar">
                  <img class="player-image" src="/src/assets/player-Artem.png" alt="">
                </div>
                <span class="name">Artem</span>
            </div>
        </div>

        <!-- Центральная секция с миссией -->
        <div class="hero-mission">
          <div class="level-indicator">
              <span class="level-text">LOVE LEVEL:</span><span class="level-value">MAX</span>
              <div class="level-bar">
                  <div class="level-fill"></div>
              </div>
          </div>
            <div class="invite-text">
                <span class="quest-marker">▶</span>
                новая миссия: создать семью
                <span class="quest-marker">◀</span>
            </div>
            <div class="game-genre">
                <span class="genre-badge">ЖАНР: КООПЕРАТИВ</span>
            </div>
            <div class="invite-subtext">
                приглашаем вас присоединиться<br>к нашему главному квесту
            </div>
        </div>

        <!-- Правый игрок -->
        <div class="hero-player hero-player--right">
            <div class="name-wrapper">
                <span class="player-tag">PLAYER 2</span>
                <div class="player-avatar">
                  <img class="player-image" src="/src/assets/player-Maria.png" alt="">
                </div>
                <span class="name">Maria</span>
            </div>
        </div>
    </div>
</section>
