
<div class="loader-container">
    <div class="loader-header">
        <div class="loader-content" id="loaderContent">
            <h1 class="loader-title" id="loaderTitle">Loading...</h1>
        </div>
        <button class="start-btn" id="startBtn">
            Press start
        </button>
    </div>

    <div class="hearts-container" id="heartsContainer">
        <div class="heart-icon heart-1">
            <img src="/src/assets/black-heart.png" alt="" class="heart-img">
        </div>
        <div class="heart-icon heart-2">
            <img src="/src/assets/black-heart.png" alt="" class="heart-img">
        </div>
        <div class="heart-icon heart-3">
            <img src="/src/assets/black-heart.png" alt="" class="heart-img">
        </div>
        <div class="heart-icon heart-4">
            <img src="/src/assets/black-heart.png" alt="" class="heart-img">
        </div>
        <div class="heart-icon heart-5">
            <img src="/src/assets/black-heart.png" alt="" class="heart-img">
        </div>
    </div>
</div>
