<footer class="game-footer">
    <div class="footer-secret">
        <div class="secret-pixel">◢ ◣ ◤ ◥</div>

        <div class="secret-hint">
            <span class="hint-icon"><img src="/src/assets/alien.png" alt=""></span>
            <div class="hint-text">
                <span class="hint-title">Повод зайти с компа</span>
                <div class="konami-keys">
                    <span class="key">↑</span>
                    <span class="key">↑</span>
                    <span class="key">↓</span>
                    <span class="key">↓</span>
                    <span class="key key-left"><span>↑</span></span>
    <span class="key key-right"><span>↑</span></span>
    <span class="key key-left"><span>↑</span></span>
    <span class="key key-right"><span>↑</span></span>
                    <span class="key key--letter">B</span>
                    <span class="key key--letter">A</span>
                </div>
            </div>
            <span class="hint-icon"><img src="/src/assets/alien.png" alt=""></span>
        </div>

        <div class="secret-pixel">◥ ◤ ◢ ◣</div>
    </div>

    <div class="footer-message">
        <p>Ждём вас в этот важный день</p>
        <p class="couple-signature">Артём & Мария</p>
    </div>
</footer>
